:root {
  --section-size--default: 40%;
  --canvas-size--default: 100%;
  --twine-canvas-height--default: 10vw;
  --twine-canvas-width--default: 45vw;
  --text-size--default: 1vw;
  --text-size--double: var( calc(--text-size--default * 2); );
  --bt-size--default: 1vw;
  --bt-size--medium: var( calc(--bt-size--default * 3); );
  --bt-size--large: var( calc(--bt-size--default * 6); );
}
