/*
	All html content is rendered on a white background.

*/
html{
	background-color:white;
	height: 1440px;
}

/*
	Main (global) flexbox container.

*/
.content-flex-container {
	display: flex;
	align-items: flex-start;
	color: black;
	font-size: 42px;
	width: 100%;
}

/*
	Divs in the main container. Menu items are stacked in a column on the left of the page.
	Div items are aligned at the start of the flexbox.
	The main display is also influenced here.

*/
.content-flex-container div {
	display: flex;
	align-items: flex-start;
	flex-flow: column;
	color: black;
	font-size: 1em;
	font-family: 'Ubuntu Mono', monospace;
}

/*
	Navigation menu on the left.

*/
.first-flex-container {
	display: flex;
	margin-left: 50px;
	transition: width 2s, height 4s, transform 2s;
	transition-timing-function: ease-out;
	transition-delay: 1s;
	-webkit-transition: width 2s, height 4s, -webkit-transform 2s; /* For Safari 3.1 to 6.0 */
}

/*
	Zooms a div element to 100px on hover.

*/
.first-flex-container div:hover {
	font-size: 100px;
	width: 100px;
	height: 100px;
}

.first-flex-container div:active {
	color: greenyellow;
}

/*
	Some interactivity with the anon comments in the banner section.
	Zooms and colors red on hover.

*/
.anonComments div:hover {
	font-size: 150px;
	color: red;
}

.headerTitle{
	text-align: center;
	font-family: 'Ubuntu Mono', monospace;
}

header{
	font-family: 'Bad Script', cursive;
	display: flex;
	justify-content: flex-end;
	height: 150px;
	align-items: flex-start;
	flex-wrap: wrap;
}

main{	
	display: flex;
	justify-content: center;
	margin-left: 15%;
	margin-top: 0;
	height: 1440px;
	width: 100%;
}
#zoneAffichage {
	display: flex;
	justify-content: flex-start;
}

footer{
	display: inline-block;
	width: 100%;
	text-align: center;
	font-family: 'Bad Script', cursive;
}

.readingsDisplay{
	display: flex;
	justify-content: flex-start;
	width: 100%;
	border: 2px solid black;
}

#fieldsetTreeView{

}
.treeDisplay{
	display: flex;
	width: 100%;
}
#threejsDisplay{ 
	display: flex;
	justify-content: flex-start;
	border: none;
}