/*
	All html content is rendered on a white background.

*/
html{
	background-color:white;
	height: 1440px;
}

/*
	Changes font of the repeated names above the banner.

*/
.repeatedStatements {
	font-family: 'VT323', monospace;
}

/*
	Makes the div a flexbox at the start of its horizontal axis.
	Font-size increase and custom font for the fake console greeting below
	the banner.

*/
.fakeConsoleGreeting {
	display: flex;
	align-items: flex-start;
	font-size: 50px;
	font-family: 'VT323', monospace;
}
/*
	Makes the div for the anonComments flexboxed, centered and
	flowing in a column. 

*/
.anonComments {
	display: flex;
	flex-flow: column;
	justify-content: center;
}
/*
	Some interactivity with the anon comments in the banner section.
	Zooms and colors the text red on hover.

*/
.anonComments div:hover {
	font-size: 150px;
	color: red;
}

/*
	Main (global) flexbox container.

*/
.content-flex-container {
	display: flex;
	align-items: flex-start;
	color: black;
	font-size: 42px;
	width: 100%;
}

/*
	Targets divs that are descendants of the main container. Menu items are 
	stacked in a column on the left of the page.
	Div items are aligned at the start of the flexbox.
	The main display is also influenced here.

*/
.content-flex-container div {
	display: flex;
	align-items: flex-start;
	flex-flow: column;
	color: black;
	font-size: 24px;
	font-family: 'Ubuntu Mono', monospace;
}

/*
	Navigation menu on the left. Cursor icon change and subtle transform
	transitions.

*/
.first-flex-container {
	display: flex;
	cursor:  progress;
	margin-left: 50px;
	transition: width 2s, height 4s, transform 2s;
	transition-timing-function: ease-out;
	transition-delay: 1s;
	-webkit-transition: width 2s, height 4s, -webkit-transform 2s; /* For Safari 3.1 to 6.0 */
}

/*
	Zooms a div element to 100px on hover.

*/
.first-flex-container div:hover {
	font-size: 100px;
	width: 100px;
	height: 100px;
}

/*
	Changes the text color of a menu item that is clicked to green
	yellow.

*/
.first-flex-container div:active {
	color: greenyellow;
}

/*
	Centers the header's title and changes its font.
	Also turns the background black and the text white.

*/
.headerTitle{
	text-align: center;
	font-family: 'Ubuntu Mono', monospace;
	background-color: black;
	color: white;

}

/*
	Changes the header section to a custom font,
	puts the height to 150px, colors text blue, and makes the
	container a flexbox justified at the end but aligned at the start.

*/
header{
	font-family: 'Bad Script', cursive;
	display: flex;
	justify-content: flex-end;
	height: 150px;
	align-items: flex-start;
	flex-wrap: wrap;
	color: blue;
	font-size: 24px;
	font-style: italic;
}

/*
	Changes the main display to a height of 1440px,
	to take the full width (100%) of the page, and to have
	a flex-flow of type row and centered. Margin of 15% on the left and 0
	on the top also.

*/
main{
	display: flex;
	justify-content: center;
	flex-flow: row;
	margin-left: 15%;
	margin-top: 0;
	height: 1440px;
	width: 100%;
}

/*
	Styles the injected reading's display to make it a flex container,
	to take full page width, and to display as flex at the start.
	Puts a border as well.

*/
.readingsDisplay{
	display: flex;
	justify-content: flex-start;
	width: 100%;
	border: 2px solid black;
}

/*
	Modifies the field set so that it is 50% width.

*/
#fieldsetTreeView{
	width: 50%;
}

/*
	The table of readings' changes to font-size.
	Applied to the ul element.

*/
#readingsTreeView {
	font-size: 15px;
}

/*
	Changes the text color of
	the nested li inside the table of readings to blue
	and red on hover. Changes cursor to zoom-in as well on hover.

*/
.nested li{
	color: blue;
}

.nested li:hover{
	color: red;
	cursor: zoom-in;
}