/**
  The server-status mock button.
  Loads into the server-status page.
  Should display dynamic, random persons logged in OR
  actual people logged in.

*/
.bt__bt--primary__server--status{
  /* Display */
  height: 0.1vw;
  width: 14vw;
  
  /* HTML Box Position */
  padding: 2vw 5vw 2vw 0vw;
  margin: 1vw 1vw 1vw 0vw;

  /* X, Y Flow Calibration */
  position: absolute !important;
  top: 0vw;
  right: 3vw;
}
