/**
  The login button at the top-right of the website.
  Loads into the sign-up/login page.

*/
.bt__bt--primary__server--login {
  /* Display */
  height: 0.1vw;
  width: 5vw;

  /* Colors */
  background-color: green;

  /* HTML Box Position */
  padding: 2vw 2vw;
  margin: 1vw 1vw; /* TODO check */

  /* X, Y Flow Calibration */
  position: absolute !important;
  top: 0vw;
  right: 23vw;
}
