.console-input {
  /* Display */
  height: var(--twine-canvas-height--default);
  width: var(--twine-canvas-width--default);

  /* Font */
  font-family: Consolas, monaco, monospace;

  /* Colors */
  background-color: black;
  color: white;

  /* Borders */
  border: none;

  /* Font */
  font-size: 14px;

  /* Cursor onMouseOver */
  cursor: pointer;
}
