/**
  The footer's console status.

*/
.footer__console-status {
  /* Display */
  height: 5vw;
  width: 100%;

  /* Font */
  font-family: Consolas, monaco, monospace;
  font-size: 14px;

  /* Colors */
  background-color: black;

  /* Alignment */

  /* HTML Box Position */
  padding: 2.5vw 0vw 5vw 0vw;
  margin: 0vw 0vw 0.1vw 0vw;

  position: fixed;
  bottom: 0vw;
  right: 0vw;
  

}
