/**
  Text inside the top banner of the website.

*/
.header__banner__text{
  /* X, Y Flow Calibration */
  position: relative;
  top: 3vw;

  /* Font */
  font-family: Consolas, monaco, monospace;
  font-size: 16px;
  text-shadow: 1px 1px #55705c;
  color: white;
}
