/**
  Main aside for the right side of the website (holding The
  four main other tabs than the game tab.

*/
.main__section--right{
  /* Display */
  display: inline-block;
  width: var(--section-size--default);

  /* Alignment */

  /* HTML Box Position */
  padding: 5vw 5vw 0vw 0vw;
  margin: 0vw 0vw 0vw 5vw;

  /* X, Y Flow Calibration */
  position: absolute;
  top: 22vw;
  bottom: 0;
  right: 0;
  left: 50%;
}
