/**
  The text inside the server-rules section.

*/
.main__section__server-rules__text {
  /* Display */
  height: var(calc(var(--section-size--default) ) );
  width: var(calc(var(--section-size--default)));

  /* Font */
  font-family: 'Crimson Text', serif;
  font-size: 42px;

  /* Colors */
  color: white;

  /* Alignment */
  text-align: center;
}
