/**
  The side box holding the utility screen.

*/
.main__section__server-rules {
  /* Display */
  display: inline-block;
  height: 50vw;
  width: 15vw;

  /* Colors */

  /* Alignment */

  /* HTML Box Position */
  padding: 0vw 0vw 0vw 0vw;
  margin: 0vw 0vw 0vw 0vw; /* top right bottom left */

  /* X, Y Flow Calibration */
  position: absolute;
  top: 4vw;
  left: 0vw;
  right: 0vw;
  bottom: 0vw;
}
