/**
  Main aside for the left side of the website (holding the
  main game tab.

*/
.main__section--left{
  /* Display */
  max-height: 100%;
  width: var(--section-size--default);

  /* Alignment */

  /* HTML Box Position */
  padding: 0vw 0vw 0vw 0vw;
  margin: 0vw 0vw 0vw 0vw;

  /* X, Y Flow Calibration */

}
