/**
  Main aside for the right side of the website (holding The
  four main other tabs than the game tab.

*/
.main__section--right{
  /* Display */
  display: flex;
  width: var(--section-size--default);
  align-content: space-around;
  flex-direction: column;
  
  /* Alignment */

  /* HTML Box Position */
  padding: 0vw 5vw 0vw 0vw;
  margin: 0vw 0vw 0vw 5vw;

  /* X, Y Flow Calibration */
  position: absolute;
  top: 8.1vw;
  bottom: 0;
  right: 0;
  left: 46%;
}
