/**
  Main aside for the right side of the website (holding The
  four main other tabs than the game tab.

*/
.main__section--right{
  /* Display */
  width: 45%;
  align-content: space-around;
  flex-direction: row;

  /* Alignment */

  /* HTML Box Position */
  padding: 0vw 5vw 0vw 0vw;
  margin: 0vw 0vw 0vw 5vw;

  /* X, Y Flow Calibration */

}
