/**
  The root flex container for the lower bottom tabs in the website.

*/
.tabs--bottom-row{
  /* Display */
  display: flex;
  width: 42vw;

  /* Alignment */
  align-content: space-around;
  flex-direction: row;

  /* HTML Box Position */
  padding: 0vw 0vw 0vw 0vw;
  margin: 0vw 0vw 0vw 0vw;

  /* X, Y Flow Calibration */
  position: static;
  float: right;
}
