/**
  The root flex container for the tabs in the website.

*/
.tabs--top-row{
  /* Display */
  display: flex;
  width: var(--twine-canvas-size--default);

  /* Alignment */
  align-content: space-between;
  flex-direction: row;

  /* HTML Box Position */
  padding: 0vw 0vw 0vw 0vw;
  margin: 0vw 0vw 0vw 0vw;

  /* X, Y Flow Calibration */
  position: static;
}
